<div class="about-container container">
        <h2>Sobre Nós</h2>
        <p>
            Somos apaixonados por móveis rústicos e pela beleza que eles trazem para qualquer ambiente. 
            Nossa missão é criar peças únicas, feitas à mão com madeira de demolição, que contam uma história e 
            trazem aconchego e personalidade para o seu lar. Cada peça é tratada com o cuidado e a atenção que 
            só um trabalho artesanal pode oferecer.
        </p>
    </div>