<header>
    <div class="container header-content">
        <div class="logo">
            <h1><a href="/" style="text-decoration: none; color: var(--primary-color);">Móveis Rústicos</a></h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/produtos">Produtos</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
        <div class="header-icons">
            <a href="#" class="icon-link"><span class="material-icons">search</span></a>
            <% if (session && session.user) { %>
                <a href="/profile" class="icon-link"><span class="material-icons">person</span></a>
                <a href="/logout" class="icon-link"><span class="material-icons">logout</span></a>
            <% } else { %>
                <a href="/login" class="icon-link"><span class="material-icons">person</span></a>
            <% } %>
            <a href="/favoritos" class="icon-link"><span class="material-icons">favorite_border</span></a>
            <a href="/cart" class="icon-link"><span class="material-icons">shopping_cart</span></a>
        </div>
    </div>
</header>