<section class="hero hero--error">
    <div class="hero__content">
        <h1 class="hero__title">Erro Interno do Servidor</h1>
        <p class="hero__subtitle">Ocorreu um erro inesperado em nosso servidor. Tente novamente mais tarde.</p>
        <a href="/" class="hero__button btn">Voltar para a Home</a>
    </div>
</section>
