/* Footer */
footer {
    background-color: var(--text-color); /* Usando a cor de texto escura como fundo */
    color: var(--text-color-light);  /* Usando a cor de texto clara */
    padding: var(--spacing-xl) 0;
    text-align: center;
}

.footer-content p {
    margin-bottom: var(--spacing-md);
}

.social-links a {
    color: var(--text-color-light);
    margin: 0 var(--spacing-sm);
    text-decoration: none;
    font-size: var(--font-size-xl);
    transition: color var(--transition-speed);
}

.social-links a:hover {
    color: var(--accent-color);
}
