/* Header */
header {
    background-color: var(--surface-color);
    box-shadow: var(--box-shadow);
    padding: var(--spacing-md) 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-family: var(--font-family-heading);
    color: var(--primary-color);
    font-size: var(--font-size-h2);
    margin: 0;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-lg);
}

.main-nav a {
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
    /* As outras propriedades (text-decoration, transition) já são definidas no _typography.css */
}

.header-icons {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
}

.icon-link {
    color: var(--primary-color);
    text-decoration: none;
    transition: color var(--transition-speed);
}

.icon-link:hover {
    color: var(--secondary-color);
}

.material-icons {
    font-size: var(--font-size-h3); /* Aproximadamente 28px */
}
