/* Estilos de Seção Genéricos */
.section {
    padding: var(--spacing-xxl) 0;
}

.section--light {
    background-color: var(--surface-color);
}

.section--gray {
    background-color: var(--background-light);
}

.section-title {
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-h1);
    margin-bottom: var(--spacing-xl);
    color: var(--primary-color);
}

/* Específicos da Seção Sobre Nós */
.about-us__content {
    max-width: 800px; /* Pode se tornar uma variável --container-md */
    margin: 0 auto;
    text-align: center;
    font-size: var(--font-size-lg);
    line-height: 1.7;
}

/* Específicos da Seção Depoimentos */
.testimonial-carousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-xl);
}

.testimonial-item {
    background-color: var(--background-light);
    padding: var(--spacing-xl);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 350px;
    text-align: left;
    transition: transform var(--transition-speed);
}

.testimonial-item:hover {
    transform: translateY(-5px);
}

.testimonial-text {
    font-size: var(--font-size-md);
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: var(--spacing-md);
    font-style: italic;
}

.testimonial-author {
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
    font-size: var(--font-size-md);
}

/* Ajustes Responsivos */
@media (max-width: var(--breakpoint-md)) {
    .section {
        padding: var(--spacing-xl) 0;
    }

    .about-us__content, .testimonial-item {
        padding: var(--spacing-lg);
    }

    .testimonial-carousel {
        flex-direction: column;
        align-items: center;
    }
}